antlr4-python3-runtime==4.9.3
certifi==2024.7.4
charset-normalizer==3.3.2
greenlet==3.0.3
idna==3.7
omegaconf==2.3.0
psycopg2-binary==2.9.9
pyaes==1.6.1
Pyrogram==2.0.106
PySocks==1.7.1
pyTelegramBotAPI==4.21.0
PyYAML==6.0.1
requests==2.32.3
SQLAlchemy==2.0.31
SQLAlchemy-Utils==0.41.2
telebot==0.0.5
TgCrypto==1.2.5
typing_extensions==4.12.2
urllib3==2.2.2
